span.android-container {
    display: flex;
    align-self: center;
    flex-grow: 3;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.icon-thinking-position{
    top: 4em;
    right: 5em;
    position: relative;
    width: 4em;
    height: 3em;
}