
span.android-container {
    display: flex;
    align-self: center;
    flex-grow: 3;
    justify-content: center;
}


span.chat-container{
  flex-grow: 2; 
}

#container{
  display: flex;
  flex-direction: column;
  height: 100%;
  background: var(--background-image) no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-position-y: 0em;
}

@media only screen and (max-width: 768px) {
  #container{
    background-size: 900px;
    background-position: center;
    background-position-y: 0em;
  }
}


.display{
  height: 100%;
}
#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

