<div class="chat-title">
    <span>Chat</span>
    <div class="chat-container">
        <span class="chat-size">
            <app-messages-container [items]="messages"></app-messages-container>
        </span>
        <span class="input-chat input-size">
            <ion-input class="input-style" fill="outline" placeholder="Enter text" [(ngModel)]="questionForAndroid"></ion-input>
            <ion-button  class="button-send"  (click)="CreateQuestion()"><img [src]="sendIcon" alt="send" class="rendering-img send-size" shape="round"></ion-button>
        </span>
    </div>
</div>